# Notebook to learn about multi index

Specific application is for data and revisions

In [3]:
import numpy as np
import pandas as pd

In [45]:
data2 = [['fin',1,346],['clis',1,75],['fin',2,57254],['fin',3,756],['fin',4,714],['clis',2,643]]
df3 = pd.DataFrame(data2,columns = ['location','position','value'])

In [46]:
df3

  location  position  value
0      fin         1    346
1     clis         1     75
2      fin         2  57254
3      fin         3    756
4      fin         4    714
5     clis         2    643

## set_index() used to convert 2D DataFrame to MultiIndex

In [47]:
df3.set_index(['location','position'],inplace=True)

In [48]:
df3

                   value
location position
fin      1           346
clis     1            75
fin      2         57254
         3           756
         4           714
clis     2           643

sort_index() sorts the index! So neatens things up

In [54]:
df3.sort_index(inplace=True)

In [50]:
df3

                   value
location position
clis     1            75
         2           643
fin      1           346
         2         57254
         3           756
         4           714

use .loc to recover cells or DataFrames

In [55]:
df3.loc['fin']

          value
position
1           346
2         57254
3           756
4           714

To recover a cell, need to call the index as a tuple

In [53]:
df3.loc[('fin',3)]

value    756
Name: (fin, 3), dtype: int64

For some reason, using usual indexing, which should work doesn't

In [56]:
df3['fin']
# Massive load of error messages:

KeyError: 'fin'

## Constructing multi index using from_product()

In [61]:
iterables = [pd.date_range(start=pd.datetime(2019,11,1),periods=10),
             pd.date_range(start=pd.datetime(2019,11,1),periods=5,freq = '2D')]

In [118]:
my_index = pd.MultiIndex.from_product(iterables=iterables,names=['date','release_date'])

In [63]:
df4 = pd.DataFrame(np.random.random(50),index=my_index,columns=['value'])

In [64]:
df4

                            value
date       release_date
2019-11-01 2019-11-01    0.210837
           2019-11-03    0.075825
           2019-11-05    0.347026
           2019-11-07    0.566529
           2019-11-09    0.333283
2019-11-02 2019-11-01    0.553832
           2019-11-03    0.242845
           2019-11-05    0.087625
           2019-11-07    0.166401
           2019-11-09    0.391269
2019-11-03 2019-11-01    0.884386
           2019-11-03    0.775806
           2019-11-05    0.482122
           2019-11-07    0.880220
           2019-11-09    0.015483
2019-11-04 2019-11-01    0.109376
           2019-11-03    0.817672
           2019-11-05    0.473604
           2019-11-07    0.432097
           2019-11-09    0.512157
2019-11-05 2019-11-01    0.675897
           2019-11-03    0.417011
           2019-11-05    0.375270
           2019-11-07    0.378769
           2019-11-09    0.158352
2019-11-06 2019-11-01    0.521920
           2019-11-03    0.057746
           2019-11-05    0.989270
           2019-11-07    0.981874
           2019-11-09    0.772786
2019-11-07 2019-11-01    0.185325
           2019-11-03    0.981904
           2019-11-05    0.083334
           2019-11-07    0.504884
           2019-11-09    0.447077
2019-11-08 2019-11-01    0.204693
           2019-11-03    0.440238
           2019-11-05    0.914398
           2019-11-07    0.846769
           2019-11-09    0.996094
2019-11-09 2019-11-01    0.071774
           2019-11-03    0.076139
           2019-11-05    0.877512
           2019-11-07    0.457653
           2019-11-09    0.889976
2019-11-10 2019-11-01    0.016082
           2019-11-03    0.342616
           2019-11-05    0.130461
           2019-11-07    0.382190
           2019-11-09    0.494231

In [73]:
df4.loc[('2019-11-01','2019-11-01')]

value    0.210837
Name: (2019-11-01 00:00:00, 2019-11-01 00:00:00), dtype: float64

# using .loc and .at to slice and search multi-index DataFrames

There is some documentation in the .loc docstring

Can use .loc as usual for 2D DataFrames, quoting the value of the first index. This doesn't work if trying to quote the value of the second index without specifying the first. Do cannot slice the multi index 'df4' using a specific release_date.

To find all column entries corresponding to a (index1, index2) pair, just use .loc with a tuple. E.g. `df4.loc[('2019-11-01','2019-11-01')]`

Can also specify columns name(s) as ususl. E.g. `df4.loc[('2019-11-01','2019-11-01'),'value']`

In [92]:
df4.loc['2019-11-01']

                            value
date       release_date
2019-11-01 2019-11-01    0.210837
           2019-11-03    0.075825
           2019-11-05    0.347026
           2019-11-07    0.566529
           2019-11-09    0.333283

calling .loc on one index gives a DataFrame output. Can then use .at or .iat to locate cell entry. Until I think of a better method I will use this for my release date code.

In [94]:
df4.loc['2019-11-01'].iat[3,0]

0.5665292953186217

# Slicing

A lot in the Muliindex docs [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html) under 'using slicers' section.

When specifiying slicing it is very important to include `:` to specify all columns. Otherwise there can be ambiguous cases

In [122]:
df4.loc[(slice('2019-11-3','2019-11-5'),slice('2019-11-5','2019-11-7')),:]

                            value
date       release_date
2019-11-03 2019-11-05    0.482122
           2019-11-07    0.880220
2019-11-04 2019-11-05    0.473604
           2019-11-07    0.432097
2019-11-05 2019-11-05    0.375270
           2019-11-07    0.378769

slice(None) returns all values relating to that index.

In [125]:
df4.loc[(slice(None),slice('2019-11-3')),:]

                            value
date       release_date
2019-11-01 2019-11-01    0.210837
           2019-11-03    0.075825
2019-11-02 2019-11-01    0.553832
           2019-11-03    0.242845
2019-11-03 2019-11-01    0.884386
           2019-11-03    0.775806
2019-11-04 2019-11-01    0.109376
           2019-11-03    0.817672
2019-11-05 2019-11-01    0.675897
           2019-11-03    0.417011
2019-11-06 2019-11-01    0.521920
           2019-11-03    0.057746
2019-11-07 2019-11-01    0.185325
           2019-11-03    0.981904
2019-11-08 2019-11-01    0.204693
           2019-11-03    0.440238
2019-11-09 2019-11-01    0.071774
           2019-11-03    0.076139
2019-11-10 2019-11-01    0.016082
           2019-11-03    0.342616

Use pandas.IndexSlice to facilitate a more natural style of indexing

In [127]:
idx = pd.IndexSlice

In [130]:
df4.loc[idx[:'2019-11-02',['2019-11-03','2019-11-7']],idx[:]]

                            value
date       release_date
2019-11-01 2019-11-03    0.075825
           2019-11-07    0.566529
2019-11-02 2019-11-03    0.242845
           2019-11-07    0.166401

you can use a boolean indexer to pass values into mask with IndexSlice.
You can put the `mask` boolean into any level of the index

In [138]:
mask = df4['value'] > 0.5
df4.loc[idx[mask,'2019-11-7':],idx[:]]
# df4.loc[idx['2019-11-7',mask],idx[:]]

                            value
date       release_date
2019-11-01 2019-11-07    0.566529
2019-11-03 2019-11-07    0.880220
2019-11-04 2019-11-09    0.512157
2019-11-06 2019-11-07    0.981874
           2019-11-09    0.772786
2019-11-07 2019-11-07    0.504884
2019-11-08 2019-11-07    0.846769
           2019-11-09    0.996094
2019-11-09 2019-11-09    0.889976

If you want to filter on all the index levels, you can use `mask` like above and then an additional `iloc` to specify the first level index slice

In [139]:
df4.loc[idx[mask,'2019-11-7':],idx[:]].loc['2019-11-6']

                            value
date       release_date
2019-11-06 2019-11-07    0.981874
           2019-11-09    0.772786

# Cross Section

The xs() method of DataFrame additionally takes a level argument to make selecting data at a particular level of a MultiIndex easier.

`drop_level = False` keeps the level being filtered on - so in example below, the 'release date' information is still shown.

In [140]:
df4.xs('2019-11-01',level='release_date',drop_level=False)

                            value
date       release_date
2019-11-01 2019-11-01    0.210837
2019-11-02 2019-11-01    0.553832
2019-11-03 2019-11-01    0.884386
2019-11-04 2019-11-01    0.109376
2019-11-05 2019-11-01    0.675897
2019-11-06 2019-11-01    0.521920
2019-11-07 2019-11-01    0.185325
2019-11-08 2019-11-01    0.204693
2019-11-09 2019-11-01    0.071774
2019-11-10 2019-11-01    0.016082

In [141]:
df4.xs('2019-11-1',level='release_date')

               value
date
2019-11-01  0.210837
2019-11-02  0.553832
2019-11-03  0.884386
2019-11-04  0.109376
2019-11-05  0.675897
2019-11-06  0.521920
2019-11-07  0.185325
2019-11-08  0.204693
2019-11-09  0.071774
2019-11-10  0.016082

# Getting index information

First can query index names. 

`FrozenList` is a pandas construct for MulitIndex. FrozenLists cannot be changed using their attributes but must be changed using a method, as other attributes of linked dataframe have to be changed simultaneously.

In [95]:
df4.index.names

FrozenList(['date', 'release_date'])

My attempt at finding all the information corresponding to release_date = '2019-11-01'. It actually works but returns a DataFrame with multiple repitions of the release_date index

In [119]:
dateindex = df4.index.get_level_values('date')

iterables = [dateindex, pd.date_range(start='2019-11-01',periods=1)]
loc_index = pd.MultiIndex.from_product(iterables)
# loc_index

In [115]:
df4.loc[loc_index]
# df4.loc[(dateindex,'2019-11-03')]

                            value
date       release_date
2019-11-01 2019-11-01    0.210837
           2019-11-01    0.210837
           2019-11-01    0.210837
           2019-11-01    0.210837
           2019-11-01    0.210837
2019-11-02 2019-11-01    0.553832
           2019-11-01    0.553832
           2019-11-01    0.553832
           2019-11-01    0.553832
           2019-11-01    0.553832
2019-11-03 2019-11-01    0.884386
           2019-11-01    0.884386
           2019-11-01    0.884386
           2019-11-01    0.884386
           2019-11-01    0.884386
2019-11-04 2019-11-01    0.109376
           2019-11-01    0.109376
           2019-11-01    0.109376
           2019-11-01    0.109376
           2019-11-01    0.109376
2019-11-05 2019-11-01    0.675897
           2019-11-01    0.675897
           2019-11-01    0.675897
           2019-11-01    0.675897
           2019-11-01    0.675897
2019-11-06 2019-11-01    0.521920
           2019-11-01    0.521920
           2019-11-01    0.521920
           2019-11-01    0.521920
           2019-11-01    0.521920
2019-11-07 2019-11-01    0.185325
           2019-11-01    0.185325
           2019-11-01    0.185325
           2019-11-01    0.185325
           2019-11-01    0.185325
2019-11-08 2019-11-01    0.204693
           2019-11-01    0.204693
           2019-11-01    0.204693
           2019-11-01    0.204693
           2019-11-01    0.204693
2019-11-09 2019-11-01    0.071774
           2019-11-01    0.071774
           2019-11-01    0.071774
           2019-11-01    0.071774
           2019-11-01    0.071774
2019-11-10 2019-11-01    0.016082
           2019-11-01    0.016082
           2019-11-01    0.016082
           2019-11-01    0.016082
           2019-11-01    0.016082